
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.profile-LS4 {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .option-GqW {
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #2d3648;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 36.4rem;
    height: 98.2rem;
    align-items: center;

    .auto-group-jgjz-1o6 {
      flex-shrink: 0;
      text-align: center;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      background-color: #ffffff;
      height: 7.2rem;
      line-height: 1;
      color: #000000;
      border: solid 0.2rem #2d3648;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      white-space: nowrap;
      margin-bottom: 0.1rem;
      width: 100%;
      font-size: 2.4rem;
      letter-spacing: 0.024rem;
    }
    .auto-group-xrpa-T9J {
      height: 90.9rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 20.3rem 8.5rem 27.6rem 8.6rem;
      width: 100%;

      .group-1-aDv {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-qkjr-XQ4 {
          padding-bottom: 5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-7-5Ra {
            margin: 0rem 7.35rem 5rem 0rem;
            width: calc(100% - 7.35rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-D1z {
              flex-shrink: 0;
              margin-right: 2.0921rem;
              width: 3.8579rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .feed-9AY {
              text-align: center;
              line-height: 1;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.024rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-6-4YQ {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 3.6rem;
            width: calc(100% - 3.6rem);

            .vector-c48 {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.0008rem;
              width: 2.9992rem;
            }
            .projects-M1i {
              text-align: center;
              font-size: 2.4rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1;
              letter-spacing: 0.024rem;
            }
          }
        }
        .group-5-fo6 {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-2de {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.9999rem;
            width: 3.0001rem;
            height: 3rem;
            object-fit: contain;
          }
          .messaging-yon {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.024rem;
            color: #000000;
          }
        }
        .auto-group-jrnt-5rp {
          box-sizing: border-box;
          padding-top: 5rem;
          width: 100%;
          row-gap: 5rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-4-21N {
            margin-right: 8.2rem;
            width: calc(100% - 8.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-ZX6 {
              margin-right: 2.998rem;
              width: 3.002rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .find-htC {
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              font-size: 2.4rem;
              line-height: 1;
              letter-spacing: 0.024rem;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              text-align: center;
            }
          }
          .group-3-cEU {
            margin-right: 2.1rem;
            width: calc(100% - 2.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-XcL {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.25rem;
              width: 3.75rem;
              height: 3rem;
            }
            .requests-584 {
              font-weight: 400;
              line-height: 1;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 2.4rem;
              letter-spacing: 0.024rem;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-2-zF2 {
            margin-right: 5.8rem;
            width: calc(100% - 5.8rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-jyJ {
              width: 2.8719rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.1281rem;
            }
            .profile-gde {
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-weight: 400;
              letter-spacing: 0.024rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2.4rem;
              line-height: 1;
            }
          }
        }
      }
    }
  }
  .auto-group-6lxi-C6C {
    flex-shrink: 0;
    width: 114.8rem;
    height: 98.2rem;
    position: relative;

    .auto-group-cxqa-XPN {
      position: absolute;
      left: 0.2rem;
      top: 0;
      width: 74.4rem;
      height: 47.1rem;

      .nav-SmE {
        background-color: #ffffff;
        margin-bottom: 11.4rem;
        width: 100%;
        height: 7.2rem;
        border: solid 0.2rem #2d3648;
        box-sizing: border-box;
      }
      .account-BD2 {
        margin: 0rem 0rem 4.9rem 11.2rem;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 0.5;
        letter-spacing: -0.048rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .set-your-account-settings-below-VUc {
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.024rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 16.4rem 11.2rem;
      }
      .projects-Ctp {
        letter-spacing: -0.048rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 11.2rem;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 0.5;
      }
    }
    .auto-group-cqtx-wLc {
      height: 7.2rem;
      left: 74.6rem;
      top: 0;
      border: solid 0.2rem #2d3648;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.6rem 5.113rem 1.6rem 25.4rem;
      width: 40.2rem;
      position: absolute;
      display: flex;
      align-items: center;

      .component-3-dUL {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.6875rem;
        width: 4rem;
        height: 4rem;
        position: relative;
      }
      .ellipse-3-Ngp {
        border-radius: 2rem;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:8767f12386aa0268264c814de2630f34a68814d1');
      }
    }
    .rectangle-13-HHz {
      box-sizing: border-box;
      position: absolute;
      left: 11.4rem;
      column-gap: 1.5rem;
      align-items: center;
      padding: 0.5rem 10.2rem 0.5rem 0.5rem;
      width: 92.2rem;
      height: 4.7rem;
      top: 33.2rem;
      display: flex;
      background-color: #edf0f7;
      border-radius: 1rem;

      .group-9-mU4 {
        justify-content: center;
        border-radius: 1rem;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.2;
        white-space: nowrap;
        display: flex;
        align-items: center;
        width: 15.1rem;
        height: 100%;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        background-color: #ffffff;
        letter-spacing: -0.02rem;
        color: #000000;
      }
      .group-10-px8 {
        font-family: Poppins, 'Source Sans Pro';
        background-color: #ffffff;
        line-height: 1.2;
        white-space: nowrap;
        flex-shrink: 0;
        width: 15.1rem;
        height: 100%;
        letter-spacing: -0.02rem;
        justify-content: center;
        border-radius: 1rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        display: flex;
        align-items: center;
      }
      .group-11-hm2 {
        font-weight: 400;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #ffffff;
        letter-spacing: -0.02rem;
        width: 15.1rem;
        height: 100%;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .group-13-PNx {
        height: 100%;
        font-weight: 400;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        letter-spacing: -0.02rem;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        width: 15.1rem;
        line-height: 1.2;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .group-12-5Wg {
        height: 100%;
        line-height: 1.2;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        border-radius: 1rem;
        align-items: center;
        flex-shrink: 0;
        letter-spacing: -0.02rem;
        color: #000000;
        background-color: #ffffff;
        width: 15.1rem;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        justify-content: center;
      }
    }
  }
}
