
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.profile-mPE {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .option-UoS {
    width: 36.4rem;
    display: flex;
    border: solid 0.2rem #2d3648;
    padding-top: 2.4rem;
    height: 98.2rem;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .collabit-PvQ {
      font-weight: 400;
      letter-spacing: 0.024rem;
      color: #000000;
      font-size: 2.4rem;
      text-align: center;
      line-height: 1;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.3rem 2.5rem 0rem;
    }
    .auto-group-9loj-fsv {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 20.3rem 8.5rem 27.6rem 8.6rem;
      width: 100%;
      height: 90.9rem;

      .group-1-bWg {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-erfr-92Q {
          box-sizing: border-box;
          padding-bottom: 5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-7-gY8 {
            flex-shrink: 0;
            margin: 0rem 7.35rem 5rem 0rem;
            width: calc(100% - 7.35rem);
            display: flex;
            align-items: center;

            .vector-bf6 {
              width: 3.8579rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.0921rem;
            }
            .feed-89E {
              line-height: 1;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.024rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
            }
          }
          .group-6-e7a {
            flex-shrink: 0;
            margin-right: 3.6rem;
            width: calc(100% - 3.6rem);
            display: flex;
            align-items: center;

            .vector-zBS {
              margin-right: 3.0008rem;
              width: 2.9992rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .projects-XBN {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1;
              letter-spacing: 0.024rem;
              text-align: center;
              font-size: 2.4rem;
            }
          }
        }
        .group-5-e16 {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .vector-PUU {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.9999rem;
            width: 3.0001rem;
            height: 3rem;
          }
          .messaging-Xqa {
            text-align: center;
            letter-spacing: 0.024rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1;
            color: #000000;
          }
        }
        .auto-group-ta1e-TDS {
          row-gap: 5rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 5rem;
          width: 100%;

          .group-4-PMz {
            margin-right: 8.2rem;
            width: calc(100% - 8.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-jwe {
              margin-right: 2.998rem;
              width: 3.002rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .find-gbz {
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              letter-spacing: 0.024rem;
            }
          }
          .group-3-R3n {
            width: calc(100% - 2.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 2.1rem;

            .vector-yLC {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.25rem;
              width: 3.75rem;
              height: 3rem;
            }
            .requests-Kex {
              font-weight: 400;
              letter-spacing: 0.024rem;
              white-space: nowrap;
              text-align: center;
              font-size: 2.4rem;
              line-height: 1;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .group-2-3ax {
            flex-shrink: 0;
            margin-right: 5.8rem;
            width: calc(100% - 5.8rem);
            display: flex;
            align-items: center;

            .vector-PPv {
              flex-shrink: 0;
              margin-right: 3.1281rem;
              width: 2.8719rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .profile-wAY {
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1;
              letter-spacing: 0.024rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .auto-group-ckhn-E9e {
    width: 114.8rem;
    height: 98.2rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-6kpl-kdn {
      flex-direction: column;
      width: 74.4rem;
      height: 47.1rem;
      position: absolute;
      left: 0.2rem;
      top: 0;
      align-items: center;
      display: flex;

      .auto-group-yq56-gGY {
        height: 7.2rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 11.4rem;
        width: 100%;

        .nav-dBn {
          border: solid 0.2rem #2d3648;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 36.4rem;
          height: 7.2rem;
          position: absolute;
          left: 0.4rem;
          top: 0;
        }
        .nav-9vp {
          width: 74.4rem;
          height: 7.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.2rem #2d3648;
          box-sizing: border-box;
          background-color: #ffffff;
        }
      }
      .parimal-pawar-gQx {
        line-height: 0.5;
        letter-spacing: -0.048rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 4.8rem;
        font-weight: 500;
        flex-shrink: 0;
        margin: 0rem 17.4rem 4.9rem 0rem;
        color: #000000;
      }
      .back-end-developer-under-grad-scoe25-nTz {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0.8rem 16.4rem 0rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.024rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .projects-fXn {
        margin-right: 33.1rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 4.8rem;
        line-height: 0.5;
        letter-spacing: -0.048rem;
        color: #000000;
        flex-shrink: 0;
      }
    }
    .auto-group-lxqc-nsJ {
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 40.2rem;
      height: 35.7rem;
      position: absolute;
      left: 74.6rem;

      .auto-group-9fbw-L88 {
        align-items: center;
        border: solid 0.2rem #2d3648;
        margin-bottom: 10.6rem;
        padding: 1.6rem 5.113rem 1.6rem 25.4rem;
        width: 100%;
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .component-3-eec {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.6875rem;
          width: 4rem;
          height: 4rem;
        }
        .ellipse-3-aHN {
          height: 4rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:8767f12386aa0268264c814de2630f34a68814d1');
          border-radius: 2rem;
          flex-shrink: 0;
          width: 4rem;
        }
      }
      .ellipse-5-4TS {
        margin: 0rem 10.8rem 0rem 11.5rem;
        height: 17.9rem;
        box-sizing: border-box;
        background-size: 128.598% 128.598%;
        background-image: url('REPLACE_IMAGE:5cf76d455df6bb74b162bf47816e552cb44fff8d');
        width: calc(100% - 22.3rem);
        border: solid 0.1rem #000000;
        background-position: 0.128rem -0.5418rem;
        border-radius: 8.95rem;
        flex-shrink: 0;

        .ellipse-5-4TS-bg {
          width: 17.9rem;
          height: 17.9rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:5cf76d455df6bb74b162bf47816e552cb44fff8d');
        }
      }
    }
    .skills-GZW {
      left: 11.4rem;
      top: 32rem;
      display: flex;
      column-gap: 2.5rem;
      align-items: center;
      width: 49.3rem;
      height: 3.7rem;
      position: absolute;

      .component-6-BwN {
        height: 100%;
        white-space: nowrap;
        width: 13.7rem;
        letter-spacing: -0.024rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
        font-weight: 300;
        align-items: center;
        flex-shrink: 0;
        border-radius: 1.5rem;
        font-size: 2.4rem;
        line-height: 1;
        display: flex;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
      }
      .component-5-T8C {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-size: 2.4rem;
        color: #000000;
        box-sizing: border-box;
        line-height: 1;
        border: solid 0.1rem #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 300;
        letter-spacing: -0.024rem;
        white-space: nowrap;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 1.5rem;
        width: 14rem;
        height: 100%;
      }
      .component-4-vnU {
        border-radius: 1.5rem;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;
        font-size: 2.4rem;
        justify-content: center;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 16.6rem;
        letter-spacing: -0.024rem;
        line-height: 1;
        height: 100%;
        font-weight: 300;
      }
    }
    .follow-oLU {
      white-space: nowrap;
      background-color: #000000;
      position: absolute;
      font-weight: 500;
      left: 50rem;
      top: 17.8rem;
      font-size: 2rem;
      line-height: 1.2;
      font-family: Poppins, 'Source Sans Pro';
      width: 10.7rem;
      height: 4rem;
      letter-spacing: -0.02rem;
      color: #ffffff;
      justify-content: center;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
    }
    .project-FyA {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 92.6rem;
      height: 36.7rem;
      position: absolute;
      left: 11.4rem;
      top: 51.9rem;

      .group-8-Nnt {
        height: 36.7rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #edf0f7;
        box-sizing: border-box;
        padding: 16.733rem 20.633rem 16.633rem 20.733rem;
        width: 44.7rem;

        .icon-image-Hex {
          width: 3.3333rem;
          height: 3.3333rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-6-E4Q {
        flex-direction: column;
        width: 53.4219rem;
        height: 26.7rem;
        position: absolute;
        left: 37rem;
        top: 5rem;
        align-items: flex-end;
        display: flex;

        .featured-project-Yqn {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.722rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .random-password-generator-ffW {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.622rem 3rem 0rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-4pje-b3N {
          margin: 0rem 0.022rem 2.9rem 0rem;
          height: 12.8rem;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.8rem 4.3rem 2.8rem 3.1rem;
          width: calc(100% - 0.0219rem);
          background-color: #ffffff;
          border-radius: 0.5rem;

          .a-minimal-web-app-that-generates-random-passwords-of-selected-length-this-is-a-simple-project-in-html-css-javascript-this-mainly-uses-mathrandom-function-of-js-5z8 {
            font-weight: 500;
            line-height: 1.4900000095;
            letter-spacing: 0.008rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 46rem;
            font-size: 1.6rem;

            .a-minimal-web-app-that-generates-random-passwords-of-selected-length-this-is-a-simple-project-in-html-css-javascript-this-mainly-uses-mathrandom-function-of-js-5z8-sub-0 {
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.4900000095;
              letter-spacing: 0.008rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .a-minimal-web-app-that-generates-random-passwords-of-selected-length-this-is-a-simple-project-in-html-css-javascript-this-mainly-uses-mathrandom-function-of-js-5z8-sub-1 {
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.4900000095;
              letter-spacing: 0.008rem;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .a-minimal-web-app-that-generates-random-passwords-of-selected-length-this-is-a-simple-project-in-html-css-javascript-this-mainly-uses-mathrandom-function-of-js-5z8-sub-2 {
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.4900000095;
              letter-spacing: 0.008rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .a-minimal-web-app-that-generates-random-passwords-of-selected-length-this-is-a-simple-project-in-html-css-javascript-this-mainly-uses-mathrandom-function-of-js-5z8-sub-3 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.4900000095;
              letter-spacing: 0.008rem;
              color: #000000;
            }
            .a-minimal-web-app-that-generates-random-passwords-of-selected-length-this-is-a-simple-project-in-html-css-javascript-this-mainly-uses-mathrandom-function-of-js-5z8-sub-4 {
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.4900000095;
              letter-spacing: 0.008rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .auto-group-muxt-Mu2 {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .fa6-solid-handshake-angle-HGt {
            margin: 0rem 0.601rem 0.048rem 0rem;
            width: 2.9997rem;
            height: 2.4128rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .with-gajanan-nDe {
            font-weight: 400;
            letter-spacing: 0.016rem;
            text-transform: capitalize;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 2.2rem;
            line-height: 1.5;
            font-style: italic;
            text-decoration-line: underline;
            white-space: nowrap;
            font-size: 1.6rem;
          }
          .external-link-alt-t1n {
            margin-right: 2.3rem;
            width: 2.5rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-1cC {
            height: 2.3614rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0386rem;
            width: 2.4219rem;
          }
        }
      }
    }
  }
}
